.header {
    display: flex;
    justify-content: center;
    .headerTitle {
        margin: 25px;
        text-transform: none;
        color: darkgray;
        margin-left: auto;
        margin-right: auto;
    }
    .backBtn {
        border: 0;
        width: 100px;
        font-size: 70px;
        color: #ccc;
        background: TRANSPARENT;
        CURSOR: POINTER;
    }
}
