.content {
  background-color: #fff;
  padding-bottom: 25px;
  text-align: center;
}

.blurbPadded {
  padding: 0 25px;
}

.price {
  font-weight: bold;
  padding: 0 25px;
}

.img {
  padding: 25px 25px 5px 25px;

}
