.productCarousel {
  display: inherit;
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  width:98%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

li.selected {
  color: #000;
}

li.lidot {
  cursor: pointer;
}

.img {
  max-width: 500px;
}

@media only screen and (min-width: 1024px) {
  .productCarousel {
    flex-basis: 900px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 2px solid #F9F9F9;
    margin-bottom: 50px;
  }
}
