.dividedSec {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 0;
    p, h3 {
        color:#afadad;
    }
    .priceSec {
        width: 400px;
        padding: 30px;
    }
    .details {
        padding: 0 30px;
    }
    .specUl {
        list-style: none;
        padding:0;
    }
    .specUl li {
        padding: 10px 0;
        border-top: 1px solid #ccc;
    }
}

@media only screen and (min-width: 1024px) {
    .dividedSec {
        flex-direction: row;
    }
    .details {
      flex-basis: 900px;
      flex-grow: 0;
      flex-shrink: 0;
        border-right: 2px solid #F9F9F9;
      padding: 0 50px;
        
    }
  }
  